.navbar {
  background-color: hsl(172, 67%, 49%);
  padding: -4cap;
}

.navbar-item {
  color: #000000;
  font-weight: 500;
  .icon {
    color: #2f2f36;
  }
}

.navbar-end {
  .button {
    background-color: #fffbfb;
    color: #4a4a4a;
    border: 1px solid #ffffff;
  }
  .icon {
    color: #000000;
  }
}

.footer {
  background-color: hsl(172, 67%, 49%);
  margin-top: 55%;
  padding: 45px;
}

.navbar-brand2 {
  margin-right: 20%;
  margin-bottom: 5%;
}

.column01 {
  margin-right: 20%;
}

.column02 {
  margin-right: 20%;
}

.column03 {
  margin-right: 5%;
}
